<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Index</title>
</head>

<body>
	{% extends "public/templates/public_template.html" %}

	{% block title %}About{% endblock %}

	{% block main %}

	<div class="container">
	  <div class="row">
	    <div class="col">
	      <h1>About</h1>
  			<p>Welcome to the about-page of my flask-webapp</p>
	    </div>
	  </div>
	</div>

	{% endblock %}


  <img src="{{ url_for('static', filename='img/picture.jpg') }}" alt="">


  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>


</html>