
{% extends "public/templates/public_template.html" %}
{% import "macros/input_macros.html" as im %}

{% block title %}Jinja{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Jinja</h1>
      <hr>
	<!-- Accessing an objects value -->
      <h4>Accessing an objects value</h4>
      <hr>
      <p>Hello {{ my_name}}!</p>

	<!-- Looping through an iterable -->
      <h4>Looping through an iterable</h4>
      <hr>

      <strong class="d-block mb-3">Programming languages</strong>
      <ul>
      	{% for lang in langs %}
  		<li>{{ lang }}</li>
  		{% endfor %}
      </ul>

    <!-- Looping through an iterable (loop.index) -->
	<h4>Looping and enumerating an iterable</h4>
	<hr>

	<strong class="d-block mb-3">Programming languages</strong>
	<ul>
	  {% for lang in langs %}
	  <li>{{ loop.index }} - {{ lang }}</li>
	  {% endfor %}
	</ul>


	<!-- Looping key/value pairs in a dict -->
	<h4>Looping key/value pairs in a dict</h4>
	<hr>

	<strong class="d-block mb-3">Friends & ages</strong>
	<ul>
	  {% for name, age in friends.items() %}
	  <li>{{ name }}: {{ age }}</li>
	  {% endfor %}
	</ul>


	<!-- Calling functions -->
	<h4>Calling functions</h4>
	<hr>
	<p>{{ repeat("Jinja is great! ", 10) }}</p>


	<!-- Accessing a list index -->
	<h4>List index</h4>
	<hr>
	<p>{{ langs[0] }}</p>


	<!-- Accessing a dictionary value -->
	<h4>Dictionary value</h4>
	<hr>
	<p>{{ friends["Tony"] }}</p>


	<!-- Accessing a class attribute -->
	<h4>Class attributes</h4>
	<hr>
	<p>{{ my_remote.description }}</p>


	<!-- Assigning new variables in Jinja -->
	<h4>Create a class</h4>
	<hr>
	{% set new_repo = GitRemote(
	    name="Learning Flask",
	    description="Learn the Flask web framework for Python new description mate",
	    domain="https://github.com/Julian-Nash/learning-flask.git") 
	%}
	<p>{{ new_repo.description }}</p>


	<!-- unpack and set variables directly in our template -->
	<h4>Unpack variables</h4>
	<hr>
	{% set foo, bar = colors %}
	<p>{{ foo }}</p>
	<p>{{ bar }}</p>


	<!-- if statement -->
	<h4>Conditional if</h4>
	<hr>
	{% if cool %}
	  <p>Cool = {{ cool }}</p>
	{% endif %}


	<!-- if, elif & else: -->
	<h4>Conditional if/elif/else</h4>
	<hr>
	{% if my_age < 18 %}
	<p>No entry</p>
	{% elif my_age <= 25 %}
	<p>You may enter</p>
	{% else %}
	<p>Entry denied. You're not cool enough</p>
	{% endif %}


	<!-- Template filters: -->
	<h4>Built in filters (length)</h4>
	<hr>
	<p>{{ langs|length }}</p>


	<!-- filters in conjunction with conditionals: -->
	<h4>Filters & conditionals</h4>
	<hr>
	{% if langs|length > 2 %}
	  {% for lang in langs %}
	    {% if lang == "Python" %}
	      <p>{{ lang|upper }}</p>
	    {% else %}
	      <p>{{ lang|reverse }}</p>
	    {% endif %}
	  {% endfor %}
	{% endif %}


	<!-- join our list into a single string: -->
	<h4>Join filter</h4>
	<hr>
	<p>Unjoined: {{ langs }}</p>
	<p>Joined: {{ langs|join(", ") }}</p>


	<!-- date variable: -->
	<h4>Custom filters</h4>
	<hr>
	<p>{{ date }}</p>


	<!-- Escaping: -->
	<h4>Escaped</h4>
	<hr>
	{{ my_html }}


	<!-- make it part of the page with the safe filter -->
	<h4>Marked as safe</h4>
	<hr>
	{{ my_html|safe }}


	<!-- macros: -->
	<h4>Macros</h4>
	<hr>

	{% macro input(label="", type="text", id="", name="", placeholder="") -%}
	  <div class="form-group">
	    <label>{{ label }}</label>
	    <input type="{{ type }}" class="form-control" id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder }}">
	  </div>
	{%- endmacro %}

	<form action="#" method="POST">

	    {{ input(label="Name", id="name", name="name", placeholder="Enter your name") }}

	    {{ input(label="Email", type="email", id="email", name="email", placeholder="Enter your email") }}

	    {{ input(label="Password", id="password", name="password", placeholder="Enter your password") }}

	</form>



	<!-- macros import: -->
	<h4>Macros imported</h4>
	<hr>

	<form action="#" method="POST">

	  {{ im.input(label="Name", id="name", name="name", placeholder="Enter your name") }}

	  {{ im.input(label="Email", type="email", id="email", name="email", placeholder="Enter your email") }}

	  {{ im.input(label="Password", id="password", name="password", placeholder="Enter your password") }}

	</form>




    </div>
  </div>
</div>

{% endblock %}