@charset "utf-8";

/*
* CSS-Design
* El Professor, Patrick Kälin, PROG2
* Webapplikation
*/





/* Layout * * * * * * * * */


/* Backgorund-Image */
body {
  background-image: url("../img/mountains_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
