{% extends "public/templates/public_template.html" %}

{% block title %}Modules{% endblock %}

{% block nav_items %}
          <li class="nav-item">
            <a class="nav-link" href="/overview">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/modules">Modules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Semesters</a>
          </li>
{% endblock %}

{% block main %}

<strong class="d-block mb-3">Modulinformationen</strong>
  <ul>
    {% for name, age in modulinformation.items() %}
    <li>{{ name }}: {{ age }}</li>
    {% endfor %}
  </ul>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Modules</h1>
    </div>
    <div class="col mb-4 text-center">
      <a role="button" href="/newentry" class="btn btn-success btn-lg float-right">+  Add Entry</a>
    </div>
  </div>
</div>

<!-- MODULES-LIST -->
<div class="container">
  <div class="row">
    <div class="col mb-4">
      <ul class="list-group">
        <li class="list-group-item list-group-item-action">Module 1</li>
        <li class="list-group-item list-group-item-action">Module 2</li>
        <li class="list-group-item list-group-item-action">Module 3</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}


{% block script %}{% endblock %}