{% extends "public/templates/public_template.html" %}

{% block title %}Modules{% endblock %}

{% block nav_items %}
          <li class="nav-item">
            <a class="nav-link" href="/overview">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/modules">Modules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Semesters</a>
          </li>
{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Modules</h1>

    </div>
  </div>
</div>

{% endblock %}


{% block script %}{% endblock %}