{% extends "public/templates/public_template.html" %}

{% block title %}New Entry{% endblock %}

{% block nav_items %}

<!-- Navigation -->
<li class="nav-item">
  <a class="nav-link" href="/overview">Overview</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="/newentry">New Entry</a>
</li>

{% endblock %}



{% block main %}

<!-- Bootstrap alert with return-message (appears after submit) -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="alert bg-transparent text-primary" role="alert">
          <strong>{{ rueckgabe_string}}</strong>
      </div>
      <h1 class="text-white">New Entry</h1>
    </div>
  </div>
</div>


<!-- Form -->
<div class="container text-white">
  <div class="row">
    <div class="col">
      <form method="POST" autocomplete="off">
        <fieldset>

          <!-- Input Modul -->
          <div class="form-group">
            <label for="TextInput">Modul</label>
            <input type="text" name="eintrag" id="TextInput" class="form-control" placeholder="Type the modulname" required>
          </div>

          <!-- Select Typ -->
          <div class="form-group">
            <label for="TextInput">Select Typ</label>
            <select class="custom-select" name="typ">
              <option value="Exam" required>Exam</option>
              <option value="Project" required>Project</option>
              <option value="Presentation" required>Presentation</option>
            </select>
          </div>

          <!-- Input Content -->
          <div class="form-group">
            <label for="TextInput">Content</label>
            <input type="text" name="content" id="TextInput" class="form-control" placeholder="What needs to be done?" required>
          </div>

          <!-- Input Deadline -->
          <div class="form-group">
            <label for="TextInput">Deadline</label>
            <input type="date" name="deadline" id="TextInput" class="form-control" placeholder="TT.MM.JJJJ" required>
          </div>

          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary mt-4">Submit</button>
        </fieldset>

      </form>
    </div>
  </div>
</div>

{% endblock %}


{% block script %}{% endblock %}