{% extends "public/templates/public_template.html" %}

{% block title %}New Entry{% endblock %}

{% block nav_items %}
          <li class="nav-item">
            <a class="nav-link" href="/overview">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/modules">Modules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Semesters</a>
          </li>
{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="alert alert-light" role="alert">
          <strong>{{ rueckgabe_string}}</strong>
      </div>
      <h1>New Entry</h1>
    </div>
  </div>
</div>


<!-- INPUT
<form method="POST">
    <input type="text" name="eintrag" placeholder="Description">
    <button type="submit">Senden</button>
</form> -->


<div class="container">
  <div class="row">
    <div class="col">
      <form method="POST" autocomplete="off">
        <fieldset>
          <!--
          <div class="form-group">
            <label for="disabledSelect">Select Module</label>
            <select id="disabledSelect" class="form-control">
              <option>Modules</option>
              <option>MIKR</option>
              <option>ENG</option>
              <option>INMA</option>
            </select>
          </div>

          <div class="form-group">
            <label for="disabledTextInput">Typ</label>
            <input type="text" name="typ" id="disabledTextInput" class="form-control" placeholder="Exam, Project, Presentation, Homework" required>
          </div>
        -->
          <div class="form-group">
            <label for="disabledTextInput">Modul</label>
            <input type="text" name="eintrag" id="disabledTextInput" class="form-control" placeholder="Type the modulname" required>
          </div>

          <div class="form-group">
            <label for="disabledTextInput">Select Typ</label>
            <select class="custom-select" name="typ">
              <option value="Exam" required>Exam</option>
              <option value="Project" required>Project</option>
              <option value="Presentation" required>Presentation</option>
              <option value="Homework" required>Homework</option>
            </select>
          </div>

          <div class="form-group">
            <label for="disabledTextInput">Content</label>
            <input type="text" name="content" id="disabledTextInput" class="form-control" placeholder="What needs to be done?" required>
          </div>

          <div class="form-group">
            <label for="disabledTextInput">Deadline</label>
            <input type="date" name="deadline" id="disabledTextInput" class="form-control" placeholder="TT.MM.JJJJ" required>
          </div>




          <!--
          <div class="form-group">
            <label for="disabledSelect">Select Type</label>
            <select id="disabledSelect" class="form-control">
              <option>Project</option>
              <option>Exam</option>
              <option>Homework</option>
            </select>
          </div>
          <div class="form-group">
            <label for="disabledTextInput">Date</label>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="Enter Date">
          </div>
          <div class="form-group">
            <label for="disabledTextInput">Notes</label>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="More Information">
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck">
            <label class="form-check-label" for="disabledFieldsetCheck">
              Can't check this
            </label>
          </div>
-->


          <button type="submit" class="btn btn-primary mt-4">Submit</button>
        </fieldset>

        {% if feedback %}
          <p class="text-danger float-right">{{ feedback }}</p>
        {% endif %}

      </form>
    </div>
  </div>
</div>

{% endblock %}


{% block script %}{% endblock %}