{% extends "public/templates/public_template.html" %}

{% block title %}Overview{% endblock %}


{% block nav_items %}

<!-- Navigation -->
<li class="nav-item">
	<a class="nav-link active" href="/overview">Overview</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/newentry">New Entry</a>
</li>

{% endblock %}



{% block main %}

<div class="container text-white">
  <div class="row">
    <div class="col mb-4">
      <h1>Overview</h1>
    </div>
    <!-- + Add Entry Button -->
    <div class="col mb-4 text-center">
      <a role="button" href="/newentry" class="btn btn-primary btn-lg float-right">+  Add Entry</a>
    </div>
  </div>
</div>

<!-- Exams Section -->
<div class="container mb-4 text-white">
  <div class="row">
	<div class="col">
      <div class="list-group">
  		<h5 class="list-group-item list-group-item-primary list-group-item-primary">Exams:</h5>
	  </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
    	<table class="table">
		  <thead>
		    <tr>
		      <th class="w-25">Modul</th>
		      <th class="w-50">Content</th>
		      <th class="w-25">Deadline</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for value in eintraege.values() %}
		  		{% if value[1] == "Exam" %}
			    <tr>
			      <th scope="row">{{ value[0] }}</th>
			      <td>{{ value[2] }}</td>
			      <td>{{ value[3] }}</td>
			    </tr>
		    	{% endif %}
		    {% endfor %}
		  </tbody>
		</table>
    </div>
  </div>
</div>


<!-- Projects Section -->
<div class="container mb-4 text-white">
  <div class="row">
	<div class="col">
      <div class="list-group">
  		<h5 class="list-group-item list-group-item-primary list-group-item-primary">Projects:</h5>
	  </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
    	<table class="table">
		  <thead>
		    <tr>
		      <th class="w-25">Modul</th>
		      <th class="w-50">Content</th>
		      <th class="w-25">Deadline</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for value in eintraege.values() %}
		  		{% if value[1] == "Project" %}
			    <tr>
			      <th scope="row">{{ value[0] }}</th>
			      <td>{{ value[2] }}</td>
			      <td>{{ value[3] }}</td>
			    </tr>
		    	{% endif %}
		    {% endfor %}
		  </tbody>
		</table>
    </div>
  </div>
</div>


<!-- Presentation Section -->
<div class="container mb-4 text-white">
  <div class="row">
	<div class="col">
      <div class="list-group">
  		<h5 class="list-group-item list-group-item-primary list-group-item-primary">Presentation:</h5>
	  </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
    	<table class="table">
		  <thead>
		    <tr>
		      <th class="w-25">Modul</th>
		      <th class="w-50">Content</th>
		      <th class="w-25">Deadline</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for value in eintraege.values() %}
		  		{% if value[1] == "Presentation" %}
			    <tr>
			      <th scope="row">{{ value[0] }}</th>
			      <td>{{ value[2] }}</td>
			      <td>{{ value[3] }}</td>
			    </tr>
		    	{% endif %}
		    {% endfor %}
		  </tbody>
		</table>
    </div>
  </div>
</div>

{% endblock %}


{% block script %}{% endblock %}