{% extends "public/templates/public_template.html" %}

{% block title %}Übersicht{% endblock %}


{% block nav_items %}
          <li class="nav-item">
            <a class="nav-link active" href="/overview">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/modules">Modules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Semesters</a>
          </li>
{% endblock %}


{% block main %}

<div class="container">
  <div class="row">
    <div class="col mb-4">
      <h1>Overview</h1>
    </div>
    <div class="col mb-4 text-center">
      <a role="button" href="/newentry" class="btn btn-success btn-lg float-right">+  Add Entry</a>
    </div>
  </div>
</div>

<!-- EXAMS -->
<div class="container mb-4">
  <div class="row">
	<div class="col">
      <div class="list-group">
  		<h5 class="list-group-item list-group-item-danger list-group-item-danger">Exams:</h5>
	  </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
    	<table class="table">
		  <thead>
		    <tr>
		      <th class="w-25">Modul</th>
		      <th class="w-50">Content</th>
		      <th class="w-25">Deadline</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for value in eintraege.values() %}
		  		{% if value[1] == "Exam" %}
			    <tr>
			      <th scope="row">{{ value[0] }}</th>
			      <td>{{ value[2] }}</td>
			      <td class="text-justify">{{ value[3] }}</td>
			    </tr>
		    	{% endif %}
		    {% endfor %}
		  </tbody>
		</table>
    </div>
  </div>
</div>


<!-- PROJECTS -->
<div class="container mb-4">
  <div class="row">
	<div class="col">
      <div class="list-group">
  		<h5 class="list-group-item list-group-item-danger list-group-item-danger">Projects:</h5>
	  </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
    	<table class="table">
		  <thead>
		    <tr>
		      <th class="w-25">Modul</th>
		      <th class="w-50">Content</th>
		      <th class="w-25">Deadline</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for value in eintraege.values() %}
		  		{% if value[1] == "Project" %}
			    <tr>
			      <th scope="row">{{ value[0] }}</th>
			      <td>{{ value[2] }}</td>
			      <td class="text-justify">{{ value[3] }}</td>
			    </tr>
		    	{% endif %}
		    {% endfor %}
		  </tbody>
		</table>
    </div>
  </div>
</div>


<!-- Presentations -->
<div class="container mb-4">
  <div class="row">
	<div class="col">
      <div class="list-group">
  		<h5 class="list-group-item list-group-item-danger list-group-item-danger">Presentation:</h5>
	  </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
    	<table class="table">
		  <thead>
		    <tr>
		      <th class="w-25">Modul</th>
		      <th class="w-50">Content</th>
		      <th class="w-25">Deadline</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for value in eintraege.values() %}
		  		{% if value[1] == "Presentation" %}
			    <tr>
			      <th scope="row">{{ value[0] }}</th>
			      <td>{{ value[2] }}</td>
			      <td class="text-justify">{{ value[3] }}</td>
			    </tr>
		    	{% endif %}
		    {% endfor %}
		  </tbody>
		</table>
    </div>
  </div>
</div>


<!-- HOMEWORK -->
<div class="container mb-4">
  <div class="row">
	<div class="col">
      <div class="list-group">
  		<h5 class="list-group-item list-group-item-danger list-group-item-danger">Homework:</h5>
	  </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
    	<table class="table">
		  <thead>
		    <tr>
		      <th class="w-25">Modul</th>
		      <th class="w-50">Content</th>
		      <th class="w-25">Deadline</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for value in eintraege.values() %}
		  		{% if value[1] == "Homework" %}
			    <tr>
			      <th scope="row">{{ value[0] }}</th>
			      <td>{{ value[2] }}</td>
			      <td class="text-justify">{{ value[3] }}</td>
			    </tr>
		    	{% endif %}
		    {% endfor %}
		  </tbody>
		</table>
    </div>
  </div>
</div>


<!-- COMPLETED -->
<div class="container mb-4">
  <div class="row">
	<div class="col">
      <div class="list-group">
  		<h5 class="list-group-item list-group-item-success list-group-item-success">Completed:</h5>
	  </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
		 <table class="table">
		  <thead>
		    <tr>
		      <th>Modul</th>
		      <th>Lorem</th>
		      <th class="text-right">Deadline</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td>Mark</td>
		      <td class="text-right">Otto</td>
		    </tr>
		  </tbody>
		</table>
    </div>
  </div>
</div>




{% endblock %}


{% block script %}{% endblock %}