<!DOCTYPE html>

<html lang="de">

 	<head>
    	<meta charset="utf-8">
    	<title>Hello</title>
    	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>

 	<body>
		<div id="wrapper">
	  		<div id="header">header</div>
	  		<div id="left-sidebar">sidebar</div>
	  		<div id="content">
	  			content
		    	<div id="inner-content">
		    		{{ greeting }}
		    	</div>
	  		</div>
	  		<div id="footer">
	  			footer
	  		</div>
		</div>
	</body>

</html>